<main id="main" class="main">
  <div class="container">
    <div class="grid mt-3">
      <div class="col-12 lg:col-9 sm:col-9">
        <h2 class="text-4xl">Data Article</h2>
      </div>
      <div class="col-12 lg:col-3 sm:col-3 text-right">
        <button pButton class="p-button-sm btn-custom  " type=" button" id="insertPosition" name="insertPosition"
          routerLink="/article/new"><span><i class="pi pi-plus" style="font-size: 12px"></i>
            New</span></button>
      </div>
    </div>
    <h6 class="text-lg text-600 ml-2">
      Total Articles : <span class="text-blue-500">{{totalArticle}}</span> </h6>
    <p-table [value]="dataArticle" [paginator]="true" [rows]="rows" [(first)]="first" [showCurrentPageReport]="true"
      [totalRecords]="totalArticle" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      paginatorPosition="both" (onLazyLoad)="loadData($event)" [lazy]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Content</th>
          <th>Foto</th>
          <th class="text-center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-article let-i="rowIndex">
        <tr class="ng-star-inserted">
          <td style="width: 2%; min-width: 3rem;">{{i+1}}</td>
          <td style="width: 35%; min-width: 7rem;">{{article.title}}</td>
          <td style="width: 35%; min-width: 7rem;">

            {{ seeMore ? article.content : article.content.substr(0, 80) }}
            <ng-container *ngIf="article.content.length > 80">
              <a class="text-primary text-xs" type="button" (click)="seeMore = !seeMore;">See {{
                seeMore ?
                'less' : 'more'}}</a>
            </ng-container>
          </td>
          <td style="width: 15%; min-width: 5rem;"><img width="80" class="shadow-4"
              src="{{fileDownload}}{{article.file.id}}" alt="Bamboo Watch"></td>


          <td style="width: 15%; min-width: 5rem;">
            <div>
              <button pButton type="button" class="p-button-text" pTooltip="Update"
                routerLink="/article/edit/{{article.id}}"><i class="pi pi-pencil"></i></button>
              <button pButton type="button" class="p-button-text text-red-500" pTooltip="Delete"><i
                  class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="industryId"></p-confirmDialog> -->
</main>