<div class="container py-6" infinite-scroll (scrolled)="onScroll()">
    <div class="grid grid-nogutter card mt-6">
        <div class="grid">
            <ng-container *ngFor="let d of data;">
                <div class="col-12 lg:col-4 sm:col-4 p-3">
                    <div class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center h-14rem"
                        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{fileDownload}}{{d.file.id}});">
                        <div class="p-4 align-self-start">
                            <div class="text-white text-2xl font-bold mb-2">{{d.title}}</div>
                            <span class="text-white text-lg line-height-3">{{d.content}}</span>
                        </div>
                        <div class="p-4 align-self-end">
                            <a tabindex="0" pRipple
                                class="text-white font-medium cursor-pointer p-2 flex align-items-center border-round">Show
                                Now
                                <i class="pi pi-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>