<main id="main" class="main">
  <div class="container">


    <h1 class="text-2xl">Dashboard</h1>
    <section class="section dashboard">
      <div class="home-page">
        <div class="col-12 md:col-12 lg:col-12 mt-2">
          <h5 class="text-xl">Welcome Admin , <span class="text-primary">{{fullname}}</span></h5>
        </div>
        <hr>
        <div class="content-wrapper mt-3">
          <div class="flex flex-wrap gap-5 justify-content-center">
            <div class=" flex flex-column p-card p-3">
              <h5 class="text-600 ml-3">Data Member : <span class="text-green-500"> {{dataDashboard.memberTotal}}</span>
              </h5>
              <div>
                <p-chart type="doughnut" class="p-0" width="300px" height="300px" [responsive]="false"
                  [data]="dataMember" [options]="chartOptions"></p-chart>
              </div>
            </div>
            <div class="flex flex-column p-card p-3">
              <h5 class="text-600 ml-3">Data Payment : <span
                  class="text-green-500">{{dataDashboard.paymentTotal}}</span> </h5>
              <div>
                <p-chart type="pie" class="p-0" width="300px" height="300px" [responsive]="false" [data]="dataPayment"
                  [options]="chartOptionsPayment"></p-chart>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>