<div class="mt-8 p-3">
  <div class="grid pb-8">
    <div class="col-12 lg:col-2 sm:col-2 p-0"></div>
    <div class="col-12 lg:col-8 sm:col-8 py-5 px-5">
      <p-breadcrumb [model]="items" [home]="home" styleClass="p-0 px-3 py-1 bg-blue-100"></p-breadcrumb>
      <div class="mt-3">
        <div class="card px-4">
          <form class="mt-2" [formGroup]="dataPosting" (ngSubmit)="insertPosting()">
            <div class="p-fluid p-formgrid grid">
              <h5 class="text-lg mt-5"> <i class="pi pi-comments"></i> Create Thread</h5>
              <div class="field col-12 md:col-12"><label for="fullname" class="text-sm">Title</label>
                <input pinputtext="" formControlName="title" id="fullname" type="text"
                  class="p-inputtext p-component p-element">
              </div>
              <div class="field col-12"><label for="address" class="text-sm">Description</label>
                <textarea [rows]="5" formControlName="body" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
              </div>
            </div>
            <div class="grid">
              <div class="col-9 md:col-9 lg:col-9 text-left">
                <div class="grid">
                  <div class="col-10 lg:col-10 sm:col-10">
                    <input class="form-control" type="file" id="file" multiple (change)="fileUpload($event)">
                  </div>
                  <div class="col-2 lg:col-2 sm:col-2">
                    <p-button styleClass="p-button-outlined p-button-text text-black p-button-sm">
                      <i class="pi pi-align-left"></i>
                      <span class="ml-2 font-bold text-secondary">Polling</span>
                    </p-button>
                  </div>
                </div>
              </div>
              <div class="col-3 md:col-3 lg:col-3 text-right">
                <p-button label="Post" [disabled]="!dataPosting.valid" type="submit" styleClass="p-button-sm"
                  icon="pi pi-book" iconPos="left">
                </p-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-2 sm:col-2 p-0"></div>
  </div>
</div>