<div class="mt-8 p-3">
  <div class="grid">
    <div class="col-12 lg:col-3 p-3">
      <h6>My Profile</h6>
      <div class="">
        <div class="card p-5 text-center">
          <p-avatar class="px-5"
            image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQim4NdsO0MrEypXEyyeWCnN6HkGEpHVGWL4w&usqp=CAU"
            styleClass="w-full h-full" shape="circle">
          </p-avatar>
          <h5 class="text-lg mt-3">Fullname</h5>
          <p class="text-secondary">example position</p>
          <hr>
          <div class="grid">
            <div class="col-4 lg:col-4 sm:col-4">
              Fb
            </div>
            <div class="col-4 lg:col-4 sm:col-4">
              linkedIn
            </div>
            <div class="col-4 lg:col-4 sm:col-4">
              ig
            </div>
          </div>
          <div class="mt-4">
            <p class="text-left text-sm"> <i class="pi pi-user"></i> Personal Details</p>
            <ul class="text-left">
              <li>examplae@gmail.com</li>
            </ul>
          </div>
        </div>


      </div>
    </div>
    <div class="col-12 lg:col-6">2</div>
    <div class="col-12 lg:col-3">3</div>
  </div>
</div>