<div class="p-6" style="font-family:Inter" infinite-scroll (scrolled)="onScroll()">
    <div class="grid mt-6 flex">
        <div class="col-12 lg:col-3 sm:col-3">
            <div class="p-card p-3">
                a
            </div>
        </div>
        <div class="col-12 lg:col-9 sm:col-9">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-book mr-2 mt-1 text-xl"></i>
                        <span>Theread</span>
                    </ng-template>
                    <div *ngFor="let post of posts" class="col-12 lg:col-12 py-3 ">
                        <div class="p-card p-0 border-noround bg-gray-100">
                            <div class="p-card-header">
                                <div class="grid px-3 pt-3 ">
                                    <div class="col-12 lg:col-12 sm:col-12 pb-0 ">
                                        <div class="grid">
                                            <div
                                                class="col-1 lg:col-1 p-0 text-center flex align-items-center justify-content-center">
                                                <p-avatar styleClass="w-2rem h-2rem"
                                                    image="{{fileDownload}}{{post.user.photo.id}}" shape="circle">
                                                </p-avatar>
                                            </div>
                                            <div class="col-9 lg:col-9 p-0 m-0">
                                                <label class=" font-semibold">{{post.user.fullname}}</label>
                                                <div class="text-secondary font-italic text-xs">
                                                    {{calculateDiff(post.createdAt)}} </div>
                                            </div>
                                            <div
                                                class="col-1 lg:col-1 p-0 text-center flex align-items-center justify-content-center">
                                                <div *ngIf="post.postType.postTypeCode == premium; then premiums ">
                                                </div>
                                                <ng-template #premiums>
                                                    <p-tag icon="bi bi-star-fill" severity="warning" value="Premium"
                                                        [rounded]="true"></p-tag>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="p-card-content p-0">

                                <div class="offset-1 lg:offset-1 sm:offset-1 col-10 lg:col-10 sm:col-11 px-0 py-3">
                                    <label class="text-lg font-semibold">{{post.title}}</label>
                                </div>
                                <div class="offset-1 lg:offset-1 sm:offset-1 col-10 lg:col-10 sm:col-11 p-0 ">
                                    <p class="text-md">{{post.body}}</p>
                                </div>
                                <div class="col-12 lg:col-12 sm:col-12 py-1 pr-2">
                                    <ng-container *ngFor="let attachment of post.file">
                                        <p-image src="{{fileDownload}}{{attachment.file.id}}" alt="Image" width="250"
                                            [preview]="true">
                                        </p-image>
                                    </ng-container>
                                </div>



                                <div *ngIf="post.postType.postTypeCode == polling;">
                                    <div *ngIf="post.optionId != null; then voted else notVoted"></div>
                                </div>

                                <ng-template #voted>
                                    <div class="col-12">
                                        <p-card sub header="{{post.question}}">

                                            <div class="card-body mt-3">
                                                <div class="grid">
                                                    <ng-container *ngFor="let option of post.postPollingOption">
                                                        <div
                                                            *ngIf="post.optionId == option.id; then choosed else notChoosed">
                                                        </div>
                                                        <ng-template #choosed>
                                                            <div
                                                                class="col-12 bg-primary-900 shadow mb-1 bg-body rounded  text-white ">
                                                                <div class="grid w-full">
                                                                    <div class="col-11 lg:col-11 sm:col-11 text-left">
                                                                        {{option.content }}
                                                                    </div>
                                                                    <div class="col-1 lg:col-1 sm:col-1  text-left">
                                                                        {{option.totalResponse}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                        <ng-template #notChoosed>
                                                            <div class="col-12 bg-primary shadow mb-1 bg-body rounded ">
                                                                <div class="grid w-full">
                                                                    <div class="col-11 lg:col-11 sm:col-11 text-left">
                                                                        {{option.content }}
                                                                    </div>
                                                                    <div class="col-1 lg:col-1 sm:col-1  text-left">
                                                                        {{option.totalResponse}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ng-container>
                                                </div>
                                            </div>

                                        </p-card>
                                    </div>
                                </ng-template>
                                <ng-template #notVoted>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header bg-primary-300 text-white  mb-3">
                                                <p>{{post.question}}</p>
                                            </div>
                                            <div class="card-body text-black">
                                                <div class="grid">
                                                    <button *ngFor="let option of post.postPollingOption" pButton
                                                        pRipple class="col-12 p-button-raised p-button-info mb-2"
                                                        (click)="choose(option.id)" type="button">
                                                        <div class="grid w-full">
                                                            <div class="col-12 lg:col-12 sm:col-12 text-left">
                                                                {{option.content}}
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="p-card-footer p-0">
                                <div class="col-12 lg:col-12 sm:col-12 py-0 px-3">
                                    <p class="text-secondary font-italic text-xs">{{post.totalLike}} Likes
                                        &nbsp;&nbsp;{{post.totalComment}}
                                        Comments</p>
                                </div>
                                <hr>
                                <div class="col-12 lg:col-12 sm:col-12 ">
                                    <div class="grid px-3">
                                        <div class="col-1 lg:col-1 sm:col-1 ">
                                            <div *ngIf="post.likeId != null; then thenBlock else elseBlock"></div>
                                            <ng-template #thenBlock>
                                                <span type="button"
                                                    (click)="cancelLike(post.likeId, post.postType.postTypeCode)"
                                                    class="text-red-600 ">
                                                    <i class="bi bi-heart-fill h4"></i>
                                                </span>
                                            </ng-template>
                                            <ng-template #elseBlock>
                                                <span type="button" (click)="like(post.id, post.postType.postTypeCode)"
                                                    class=" text-black">
                                                    <i class="bi bi-heart h4"></i>
                                                </span>
                                            </ng-template>
                                        </div>
                                        <div class="col-1 lg:col-1 sm:col-1 ">
                                            <span type="button" class="h4 text-black">
                                                <i class="bi bi-chat-right-text-fill "></i>
                                            </span>
                                        </div>
                                        <div class="col-10 lg:col-10 sm:col-10 text-right ">
                                            <div *ngIf=" post.bookmarkId !=null; then cancelBookmark else saveBookmark">
                                            </div>
                                            <ng-template #cancelBookmark>
                                                <span type="button"
                                                    (click)="unbookmark(post.bookmarkId, post.postType.postTypeCode)"
                                                    class=" text-black">
                                                    <i class="bi bi-bookmark-fill  h4"></i>
                                                </span>
                                            </ng-template>
                                            <ng-template #saveBookmark>
                                                <span type="button"
                                                    (click)="bookmark(post.id, post.postType.postTypeCode)"
                                                    class="h4 text-black">
                                                    <i class="bi bi-bookmark  "></i>
                                                </span>
                                            </ng-template>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate="header">
                        <i class="pi pi-heart-fill mr-2 mt-1 text-xl"></i>
                        <span>Like</span>
                    </ng-template>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate="header">
                        <i class="pi pi-bookmark-fill mr-2 mt-1 text-xl"></i>
                        <span>Bookmark</span>
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                        est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
            </p-tabView>

        </div>

    </div>
</div>