<div class="container py-5" infinite-scroll (scrolled)="onScroll()">
    <div class="pagetitle">
        <h1>Event</h1>
        <nav class="mt-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/events-courses">Event & Course</a></li>
                <li class="breadcrumb-item active">Events</li>
            </ol>
        </nav>
    </div>
    <hr>
    <div class="grid mt-5 px-5">
        <div class="col-12 lg:col-4" *ngFor="let d of data" role="button"
            routerLink="/events-courses/payment/{{d.product.id}}">
            <div class="shadow-2 border-round surface-card"><img src="{{fileDownload}}{{d.product.photo.id}}"
                    alt="Image" class="block w-full border-round-top h-9rem">
                <div class="p-3 "><span class="block font-medium text-blue-600 mb-1">
                        <p-tag severity="warning" [rounded]="true"><a class="p-link text-white"
                                style="font-size: 0.6rem ;">Events</a></p-tag>
                    </span>
                    <div class="text-md font-semibold text-900 font-medium mb-3 line-height-3">
                        <ng-container *ngIf="d.product.title.length > 30; else elseTemplatetitle">
                            {{d.product.title.substr(0,30)}}...
                        </ng-container>
                        <ng-template #elseTemplatetitle>
                            {{d.product.title}}
                        </ng-template>
                    </div>
                    <div class="line-height-3 mb-3 text-700">
                        <table class="pt-0">
                            <tbody class="p-0">
                                <tr>
                                    <td class="pt-1" p><small><i class="bi bi-geo-alt"></i>
                                            <ng-container
                                                *ngIf="d.product.location.length > 15; else elseTemplateLocation">
                                                {{d.product.location.substr(0,15)}}...
                                            </ng-container>
                                            <ng-template #elseTemplateLocation>
                                                {{d.product.location}}
                                            </ng-template>
                                        </small></td>
                                    <td>
                                        <small class="ml-3"><i class="bi bi-coin"></i>
                                            {{d.product.price | currency : 'Rp. '}}
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-1"><small><i class="bi bi-calendar-date"></i> {{d.dateTimeStart |
                                            date : 'E, dd MMM yyyy'}} </small></td>
                                    <td>
                                        <small class="ml-3"><i class="bi bi-alarm"></i> {{d.dateTimeStart | date :
                                            'hh:mm'}} -
                                            {{d.dateTimeEnd| date : 'hh:mm'}}
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="text-sm font-bold text-blue-500 text-900 mb-1">
                        <ng-container *ngIf="d.product.provider.length > 30; else elseTemplateProvider">
                            {{d.product.provider.substr(0,30)}}...
                        </ng-container>
                        <ng-template #elseTemplateProvider>
                            {{d.product.provider}}
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>