<div class="container py-5" infinite-scroll (scrolled)="onScroll()">
    <div class="pagetitle">
        <h1>Event</h1>
        <nav class="mt-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/events-courses">Event & Course</a></li>
                <li class="breadcrumb-item active">Events</li>
            </ol>
        </nav>
    </div>
    <hr>
    <div class="grid mt-5 px-5">
        <div class="col-12 lg:col-4 sm:col-4 p-3" *ngFor="let d of data" role="button"
            routerLink="/events-courses/payment/{{d.product.id}}">

            <img src="{{fileDownload}}{{d.product.photo.id}}" alt="Image" class="border-round-left w-full"
                style="max-height: 234px;">
            <div class="p-4 p-card">
                <div class="flex justify-content-between mb-3">
                    <span class="text-orange-500 font-medum">{{d.product.title}}</span>
                    <span class="text-500 font-medium">{{calculateDiff(d.createdAt)}}</span>
                </div>

                <table class="pt-0">
                    <tbody class="p-0">
                        <tr>
                            <td class="pt-1" p><small><i class="bi bi-geo-alt"></i> {{d.product.location}}</small>
                            </td>
                            <td class="pt-1" p><small><i class="bi bi-alarm ml-3"></i> {{d.dateTimeStart | date :
                                    'hh:mm'}} -
                                    {{d.dateTimeEnd| date : 'hh:mm'}}</small></td>
                        </tr>
                        <tr>
                            <td class="pt-1"><small><i class="bi bi-calendar-date"></i> {{d.dateTimeStart |
                                    date : 'E, dd MMM yyyy'}} </small></td>
                            <td class="pt-1"><small><i class="bi bi-coin ml-3"></i> {{d.product.price}}</small></td>
                        </tr>
                    </tbody>
                </table>


                <div class="line-height-3 text-700 text-sm mb-3 mt-2">{{d.product.content}}</div>
                <p class="text-sm font-semibold text-primary text-right mt-3">{{d.product.provider}}</p>
                <hr>
                <div class="flex align-items-center">
                    <p-avatar image="{{fileDownload}}{{d.product.ownerId.photo.id}}" shape="circle"></p-avatar>
                    <span class="font-bold text-sm block ml-2 text-blue-600">{{d.product.ownerId.fullname}}</span>
                </div>

            </div>
        </div>
    </div>
</div>