<main id="main" class="main">
    <div class="container">
        <div class="grid mt-3">
            <div class="col-12 lg:col-9 sm:col-9">
                <h2 class="text-4xl">Data Users</h2>
            </div>
            <div class="col-12 lg:col-3 sm:col-3 text-right">
                <button pButton class="p-button-sm btn-custom  " type=" button" id="insertPosition"
                    name="insertPosition" routerLink="/master/users/new"><span><i class="pi pi-plus"
                            style="font-size: 12px"></i>
                        New</span></button>
            </div>

        </div>

        <p-table [loading]="loaderTable" [value]="users" [paginator]="true" [rows]="rows" [(first)]="first" [showCurrentPageReport]="true"
            [totalRecords]="totalUsers" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            paginatorPosition="both" (onLazyLoad)="loadData($event)" [lazy]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%; text-align: center">No</th>
                    <th style="width: 15%">Full Name</th>
                    <th style="width: 15%">Email</th>
                    <th style="width: 15%">Phone Number</th>
                    <th style="width: 10%">Company</th>
                    <th style="width: 10%">Industry</th>
                    <th style="width: 10%">Position</th>
                    <th style="width: 10%">Role</th>
                    <th style="width: 10%; text-align: center;">Profile Picture</th>

                    <th style="width: 10%; text-align: center;">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-i="rowIndex">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.email}}</td>
                    <ng-container *ngIf="user.phoneNumber == null; else elsePhone">
                        <td>-</td>
                    </ng-container>
                    <ng-template #elsePhone>
                        <td>{{user.phoneNumber}}</td>
                    </ng-template>
                    <ng-container *ngIf="user.company == null; else elseCompany">
                        <td>-</td>
                    </ng-container>
                    <ng-template #elseCompany>
                        <td>{{user.company}}</td>
                    </ng-template>

                    <ng-container *ngIf="user.industry== null; else elseIndustry">
                        <td>-</td>
                    </ng-container>
                    <ng-template #elseIndustry>
                        <td>{{user.industry.industryName}}</td>
                    </ng-template>

                    <ng-container *ngIf="user.position== null; else elsePosition">
                        <td>-</td>
                    </ng-container>
                    <ng-template #elsePosition>
                        <td>{{user.position.positionName}}</td>
                    </ng-template>

                    <ng-container *ngIf="user.role== null; else elseRole">
                        <td>-</td>
                    </ng-container>
                    <ng-template #elseRole>
                        <td>{{user.role.roleName }}</td>
                    </ng-template>

                    <ng-container *ngIf="user.photo == null; else elsePhoto">
                        <td style="text-align: center ;">
                            <img class="photoProfile profile-pic" src="" alt="user-pic">
                        </td>
                    </ng-container>
                    <ng-template #elsePhoto>
                        <td style="text-align: center ;">
                            <img class="photoProfile profile-pic" width="30" src="{{fileDownload}}{{user.photo.id}}"
                                alt="user-pic">
                        </td>
                    </ng-template>
                    <td>
                        <div class="flex flex-row">
                            <button pButton type="button" class="p-button-text" pTooltip="Update"
                                routerLink="/master/users/{{user.id}}"><i class="pi pi-pencil"></i></button>
                            <button pButton type="button" (click)="clickConfirmDelete('top',user.id)"
                                class="p-button-text text-red-500" pTooltip="Delete"><i
                                    class=" pi pi-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="userId"></p-confirmDialog>
</main>