<div class="lg:px-8 p-6">
    <div class="grid mt-3">
        <div class="col-12 lg:col-9 ">
            <div class="p-card">
                <div class="p-card-header p-3">

                    <div class="border-noround bg-gray-100 border-round p-3">
                        <div class="p-card-header">
                            <div class="grid px-3 pt-3">
                                <div class="col-12 lg:col-12 sm:col-12 pb-0">
                                    <div class="grid">
                                        <div
                                            class="col-1 lg:col-1 p-0 text-center flex align-items-center justify-content-center">
                                            <p-avatar styleClass="w-2rem h-2rem"
                                                image="{{fileDownload}}{{posts.user.photo.id}}" shape="circle">
                                            </p-avatar>
                                        </div>
                                        <div class="col-9 lg:col-9 p-0 m-0">
                                            <label class=" font-semibold">{{posts.user.fullname}}</label>
                                            <div class="text-secondary font-italic text-xs">
                                                {{calculateDiff(posts.createdAt)}} </div>
                                        </div>
                                        <div
                                            class="col-1 lg:col-1 p-0 text-center flex align-items-center justify-content-center">
                                            <div *ngIf="posts.postType.postTypeCode == premium; then premiums "></div>
                                            <ng-template #premiums>
                                                <p-tag icon="bi bi-star-fill" severity="warning" value="Premium"
                                                    [rounded]="true"></p-tag>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                            </div>
                        </div>
                        <div class="p-card-content p-0">

                            <div class="p-2 flex flex-column">
                                <div class="text-xl text-900 font-medium mb-3 line-height-3 ">{{posts.title}}
                                </div>
                                <div class="text-sm line-height-3 mb-3 text-700">
                                    {{posts.body}}
                                </div>
                            </div>



                            <div class="col-12 lg:col-12 sm:col-12 py-1 pr-2">
                                <ng-container *ngFor="let attachment of posts.file">
                                    <!-- <p-image src="{{fileDownload}}{{attachment.file.id}}" alt="Image" width="250"
                                        [preview]="true">
                                    </p-image> -->
                                </ng-container>
                            </div>



                            <div *ngIf="posts.postType.postTypeCode == polling;">
                                <div *ngIf="posts.optionId != null; then voted else notVoted"></div>
                            </div>

                            <ng-template #voted>
                                <div class="col-12">
                                    <p-card sub header="{{posts.question}}">

                                        <div class="card-body mt-3">
                                            <div class="grid">
                                                <ng-container *ngFor="let option of posts.postPollingOption">
                                                    <div
                                                        *ngIf="posts.optionId == option.id; then choosed else notChoosed">
                                                    </div>
                                                    <ng-template #choosed>
                                                        <div
                                                            class="col-12 bg-primary-900 shadow mb-1 bg-body rounded  text-white ">
                                                            <div class="grid w-full">
                                                                <div class="col-11 lg:col-11 sm:col-11 text-left">
                                                                    {{option.content }}
                                                                </div>
                                                                <div class="col-1 lg:col-1 sm:col-1  text-left">
                                                                    {{option.totalResponse}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template #notChoosed>
                                                        <div class="col-12 bg-primary shadow mb-1 bg-body rounded ">
                                                            <div class="grid w-full">
                                                                <div class="col-11 lg:col-11 sm:col-11 text-left">
                                                                    {{option.content }}
                                                                </div>
                                                                <div class="col-1 lg:col-1 sm:col-1  text-left">
                                                                    {{option.totalResponse}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ng-container>
                                            </div>
                                        </div>

                                    </p-card>
                                </div>
                            </ng-template>
                            <ng-template #notVoted>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header bg-primary-300 text-white  mb-3">
                                            <p>{{posts.question}}</p>
                                        </div>
                                        <div class="card-body text-black">
                                            <div class="grid">
                                                <button *ngFor="let option of posts.postPollingOption" pButton pRipple
                                                    class="col-12 p-button-raised p-button-info mb-2"
                                                    (click)="choose(option.id)" type="button">
                                                    <div class="grid w-full">
                                                        <div class="col-12 lg:col-12 sm:col-12 text-left">
                                                            {{option.content}}
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="p-card-footer p-0">
                            <div class="col-12 lg:col-12 sm:col-12 py-0 px-3">
                                <p class="text-secondary font-italic text-xs">{{posts.totalLike}} Likes
                                    &nbsp;&nbsp;{{posts.totalComment}}
                                    Comments</p>
                            </div>
                            <hr>
                            <div class="col-12 lg:col-12 sm:col-12 ">
                                <div class="grid px-3">
                                    <div class="col-1 lg:col-1 sm:col-1 ">
                                        <div *ngIf="posts.likeId != null; then thenBlock else elseBlock"></div>
                                        <ng-template #thenBlock>
                                            <span type="button"
                                                (click)="cancelLike(posts.likeId, posts.postType.postTypeCode)"
                                                class="text-red-600 ">
                                                <i class="bi bi-heart-fill h4"></i>
                                            </span>
                                        </ng-template>
                                        <ng-template #elseBlock>
                                            <span type="button" (click)="like(posts.id, posts.postType.postTypeCode)"
                                                class=" text-black">
                                                <i class="bi bi-heart h4"></i>
                                                <i class="text-sm text-600 pe-2">Like</i>
                                            </span>
                                        </ng-template>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-card-content px-6">

                    <div class="py-1 pr-2">
                        <!-- <ng-container *ngFor="let attachment of posts.file"> -->
                        <!-- <p-image src="{{fileDownload}}{{attachment.file.id}}" alt="Image" width="250"
                                [preview]="true">
                            </p-image> -->
                        <!-- </ng-container> -->
                        <p-carousel [value]="features">
                            <ng-template let-feature pTemplate="item">
                                <div class="text-center mt-3">
                                    <img src="{{fileDownload}}{{feature.image}}" alt="Image"
                                        class="w-full h-20rem border-round">
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>




                    <div class="grid border-round p-3">
                        <div class="col-12 md:col-12">
                            <div class="p-fluid pr-0">
                                <label for="message" class="font-medium"> <i class="pi pi-comments"></i>
                                    Comments</label>
                                <div class="field w-full mt-2 p-0">

                                    <textarea id="message" pInputTextarea rows="1" [autoResize]="true"
                                        class="py-3 px-3 text-lg"></textarea>
                                </div>
                                <button pButton pRipple label="Replay" icon="pi pi-send" class="w-auto"
                                    style="float: right;"></button>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="col-12 lg:col-12" *ngFor="let c of comment">
                            <div class="p-2">
                                <div class="border-1 surface-border border-round p-3">
                                    <div class="flex">
                                        <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-3.png"
                                            shape="circle"></p-avatar>
                                        <div class="ml-2">
                                            <div class="text-sm font-bold text-900 mb-1">{{c.user.fullname}}</div>
                                            <div class="text-xs flex align-items-center text-700">

                                                <span>{{c.createdAt | date : 'E, dd-MM-yyyy'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="m-0 p-0 line-height-3 mt-3 text-600">
                                        {{c.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 lg:col-3"></div>
        </div>
    </div>
</div>