<div class="grid mt-5">
  <div class="col-12 sm:col-3 lg:col-4"></div>
  <div class="col-12 sm:col-6 lg:col-4">
    <p-card>
      <div class="p-card-header">
        <div class="text-center">
          <img src="https://cdn-icons-png.flaticon.com/512/4979/4979649.png" class="w-3" alt="">
        </div>
        <h5 class="text-center text-xl mt-2">OTP Verification</h5>
      </div>
      <div class="p-card-header">
        <div class="p-card p-3 bg-teal-100 mt-3">
          <p>We’ve send a verification code to your email - example@mail.com</p>
          <p class="mt-2">Please check yout email!</p>
        </div>
        <div class="p-inputgroup mt-3 px-4"><input type="text" pinputtext="" placeholder="Verification Code"
            class="p-inputtext p-component p-element">
          <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-warn"></button>
        </div>
      </div>
      <hr class="mt-3">


    </p-card>
  </div>
  <div class="col-12 sm:col-3 lg:col-4"></div>
</div>