<main id="main" class="main">
  <div class="container">


    <h1 class="text-2xl">Dashboard</h1>
    <section class="section dashboard">
      <div class="home-page">
        <div class="col-12 md:col-12 lg:col-12 mt-2">
          <h5 class="text-xl">Welcome Super Admin , <span class="text-primary">{{fullname}}</span></h5>
        </div>
        <hr>
        <div class="content-wrapper mt-3">
          <div class="">
            <h3 class="text-600 ml-3">Data Master</h3>
            <div class="flex flex-wrap flex-row p-card">
              <div class="flex">
                <p-chart type="doughnut" class="p-0" width="300px" height="300px" [responsive]="false" [data]="data"
                  [options]="chartOptions"></p-chart>

              </div>
              <div class="flex flex-column p-5 w-8">
                <label class="font-medium">Users Admin</label>
                <p-progressBar [value]="valueAdmin"></p-progressBar>
                <span class="font-medium mt-3">Users Member</span>
                <p-progressBar [value]="valueMember"></p-progressBar>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</main>