<main id="main" class="main">
    <div class="container">
        <div class="w-full body-color">
            <div class=" flex justify-content-center flex-wrap">
                <div class="grid w-full lg:w-12 ">
                    <h1 class="text-center w-full mt-5 mb-2">
                        <div class=" flex justify-content-start mb-5">
                            <div
                                class="border-circle main-color text-white flex align-items-center justify-content-center w-3rem h-3rem">
                                <i class="fa-solid fa-users text-xl"></i>
                            </div>

                            <h2 class="text-3xl">
                                <i class="pi pi-money-bill text-2xl text-green-500"></i> Member List
                            </h2>
                        </div>
                    </h1>
                </div>
                <div class="grid w-full lg:w-12">
                    <div class="table w-full">
                        <p-table styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}" [rows]="5"
                            class="w-full">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="no" class="text-center">No.</th>
                                    <th pSortableColumn="fullName">Trx Code</th>
                                    <th pSortableColumn="fullName">Full Name</th>
                                    <th pSortableColumn="proofOfPayment" class="text-center">Proof of Payment</th>
                                    <th pSortableColumn="action" class="text-center">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{i + 1}}</td>
                                    <td>{{data.fullName}}</td>
                                    <td class="text-center">
                                        <button pButton type="button" class="p-button-secondary" label="DOWNLOAD">
                                            <i class="fa-solid fa-pen text-sm mr-2"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button pButton type="button" label="APPROVE">
                                            <i class="fa-solid fa-pen text-sm mr-2"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>