<div class="container px-4">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-700">
        <div class="flex flex-wrap">

            <div class="w-full lg:w-6 pr-0 lg:pr-5">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/articles">Articles</a></li>
                        <li class="breadcrumb-item active">Detail</li>
                    </ol>
                </nav>

                <div class="font-normal text-2xl mt-3 mb-3 text-900">{{data.title}}
                </div>
                <div class="text-600 font-sm mb-5">Post by Admin Community</div>
                <p class="line-height-3 mt-0 mb-5">
                    {{data.content}}
                </p>
            </div>
            <div class="w-full lg:w-6 pl-0 lg:pl-5 pt-5">
                <img src="{{fileDownload}}{{data.file.id}}" alt="Image" class="w-full border-round">
                <div class="text-center text-sm font-medium mt-3">
                    Published {{data.createdAt | date : 'E, dd MMM yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>