<div class="px-4 md:px-6 lg:px-8 bg-blue-900 text-white absolute w-full">
    <div class="text-center py-3">

        <ul class="list-none p-0 mx-0 flex justify-content-center flex-column align-items-center lg:flex-row">
            <li><a class="text-white font-bold cursor-pointer line-height-3">About Us</a></li>
        </ul>
        <div class="flex align-items-center justify-content-center mb-5">
            <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width:2.5rem; height: 2.5rem" href="https://discord.gg/V9y3tJna" target="_blank">
                <i class="pi pi-discord"></i>
            </a>
            <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width:2.5rem; height: 2.5rem" href="https://www.instagram.com/fransisko.shb/" target="_blank">
                <i class="pi pi-instagram"></i>
            </a>
            <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center"
                style="width:2.5rem; height: 2.5rem" href="https://github.com/deniramadani/" target="_blank">
                <i class="pi pi-github"></i>
            </a>
        </div>
        <div class="text-center">
            &copy; Copyright <strong><span>DeerFox Community</span></strong>. All Rights
            Reserved
            2022
        </div>
        <span class="text-sm"> <i class="pi pi-map-marker mr-2 my-2"></i>Pakuwon Tower, Jl. Casablanca No.Kav 88,
            RT.6/RW.14, Kb. Baru, Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12870 </span>
    </div>
</div>