<!-- <div class="bg-gray-700 p-4 text-center">

    <div class="copyright text-white"> &copy; Copyright <strong><span>Lawencon Internasional</span></strong>. All Rights
        Reserved
        2022
    </div>
</div> -->


<div class="px-4 md:px-6 lg:px-8 bg-gray-700 text-white absolute w-full">
    <div class="text-center py-3">

        <ul class="list-none p-0 mx-0 flex justify-content-center flex-column align-items-center lg:flex-row">
            <li><a class="text-white font-bold cursor-pointer line-height-3">About Us</a></li>
        </ul>
        <div class="flex align-items-center justify-content-center mb-5">
            <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width:2.5rem; height: 2.5rem">
                <i class="pi pi-linkedin"></i>
            </a>
            <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width:2.5rem; height: 2.5rem">
                <i class="pi pi-facebook"></i>
            </a>
            <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center"
                style="width:2.5rem; height: 2.5rem">
                <i class="pi pi-github"></i>
            </a>
        </div>
        <div class="text-center">
            &copy; Copyright <strong><span>Lawencon Internasional</span></strong>. All Rights
            Reserved
            2022
        </div>
    </div>
</div>