<div class="mt-8 p-3">
  <div class="pagetitle p-4">
    <h3>Payment</h3>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/event-course">Event & Course</a></li>
        <li class="breadcrumb-item active">Payment</li>
      </ol>
    </nav>
  </div>
  <div class="grid p-5">

    <div class="col-12 lg:col-8 pt-3 pb-3">
      <h6>Description</h6>
      <div class="p-card">

      </div>
    </div>

    <div class="col-12 lg:col-4 pt-3 pb-3">
      <h6>Description</h6>

    </div>

  </div>
</div>